@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
@for (int i = 0; i < ViewData.Count; i++)
{
    <div class="alert alert-danger" role="alert">
        @ViewData[$"Exception {i}"]
    </div>
}
